.div_panel_menus {
    transition: left 0.5s;
    z-index: 5;
    width: 150px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -140px;
    background-color: var(--panels);
    border-right: 3px solid var(--first);
    box-shadow: inset 0 0 10px black;
}

.div_panel_menus:hover {
    left: 0;
}

.div_button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid var(--first);
    outline: none;
    background-color: var(--panels);
    color: var(--object_p_color);
    position: absolute;
    top: calc(50% - 27px);
    right: -25px;
    display: grid;
    align-content: center;
    justify-content: center;
    box-shadow: 0 0 15px black;
}

.div_line {
    padding: 0;
    margin: 0;
    width: 20px;
    border: 2px solid var(--first);
    background-color: var(--first);
    border-radius: 5px;
}

.line1 {
    transition: transform 0.5s, left 0.5s, bottom 0.5s;
    position: relative;
    left: 5px;
    bottom: 3px;
    transform: rotate(45deg);
}

.div_panel_menus:hover .line1 {
    transform: rotate(0deg);
    left: 0;
    bottom: 5px;
}

.line2 {
    transition: transform 0.5s, left 0.5s, top 0.5s;
    position: relative;
    left: 5px;
    top: 8px;
    transform: rotate(-45deg);
}

.div_panel_menus:hover .line2 {
    transform: rotate(0deg);
    left: 0;
    top: 9px;
}

.line3 {
    transition: width 0.5s;
    padding: 0;
    margin: 0;
    width: 0;
    border: 2px solid var(--first);
    background-color: var(--first);
    border-radius: 5px;
    position: relative;
    left: 0;
    bottom: 4px;
}

.div_panel_menus:hover .line3 {
    width: 20px;
}

.div_panel_objects {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto auto auto auto auto 1fr auto;
    align-content: flex-start;
    justify-content: center;
}

.div_panel_objects > hr {
    width: 60%;
    height: 0;
    margin: 10px auto;
    border: 1px solid var(--first);
    background-color: var(--first);
    border-radius: 10px;
}

.div_panel_button {
    transition: border-radius 0.5s;
    width: 65px;
    height: 65px;
    background: var(--icons_background);
    border-radius: 50% 0;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-areas: "I";
    box-shadow: 2px 2px 3px var(--box_shadow);
}

.div_panel_button > * {
    grid-area: I;
}

.div_panel_button:hover {
    cursor: pointer;
    border-radius: 0 50%;
}

.div_panel_button > img {
    transition: transform 0.5s;
    width: 40px;
    height: 40px;
}

.div_button_panel_down > img {
    transform: rotate(0deg);
}

.div_button_panel_down:hover > img {
    transform: rotate(180deg);
}

.div_panel_filters {
    transition: right 0.5s;
    z-index: 5;
    width: 550px;
    height: 100%;
    position: fixed;
    top: 0;
    right: -540px;
    background-color: var(--panels);
    border-left: 3px solid var(--second);
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: inset 0 0 10px black;
    display: grid;
    justify-content: center;
}

.panel_filters_toggle_button {
    transition: background 0.5s, color 0.5s, right 0.5s;
    z-index: 6;
    width: 56px;
    height: 56px;
    position: fixed;
    border: 3px solid var(--second);
    border-radius: 50%;
    right: -20px;
    top: calc(50% - 27px);
    outline: none;
    background: var(--panels);
    color: var(--second);
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 0 15px black;
}

.panel_filters_toggle_button:hover {
    background: var(--second);
    color: var(--panels);
}

.panel_filters_toggle_button:active {
    transition: 0s;
    background: var(--panels);
    color: var(--second);
}

.div_panel_filters_objects {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: center;
    justify-content: center;
}

.div_panel_filters_objects > p {
    text-align: center;
    font-weight: bold;
    margin: 10px;
    padding: 5px 0;
    font-size: 18px;
    color: var(--object_p_color);
    cursor: default;
    width: 100%;
}

.div_panel_filters_objects > hr {
    width: 70%;
    margin: 10px auto;
    border: 1px solid var(--second);
    background-color: var(--second);
    border-radius: 10px;
}

.div_panel_filters_objects > div {
    padding: 10px 0 10px 10px;
    margin: 5px;
    border-radius: 10px;
    color: var(--second);
    background-color: var(--object);
    box-shadow: 2px 2px 10px var(--box_shadow);
}

.div_panel_filters_objects > div > p {
    margin: 3px 3px 12px;
    font-size: 16px;
    font-weight: bold;
    color: var(--object_p_color);
}

.div_panel_filters_objects > div > div {
    display: grid;
    grid-template-columns: auto auto;
}

.div_panel_filters_objects > div > div > pre {
    margin: auto 0;
    padding: 0;
}

.div_panel_filters_objects > div > div > button {
    transition: background-color 0.5s, color 0.5s;
    outline: none;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    padding: 1px 5px;
    background-color: var(--object);
    color: var(--object_p_color);
}

.div_panel_filters_objects > div > div > button:hover {
    background-color: transparent;
}

.div_panel_filters_objects > div > div > button:hover {
    transition: 0s;
    background-color: var(--object);
}

.div_panel_filters_objects > div > div > select {
    outline: none;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    padding: 1px 5px;
    background-color: var(--object);
    color: var(--object_p_color);
    -webkit-appearance: none;
}

select::-ms-expand {
    display: none;
}

option {
    color: black;
    background: white;
}

.div_panel_filters_objects > div > div > input {
    margin: 3px 10px;
    padding: 1px 5px;
    outline: none;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    height: 20px;
    width: auto;
    background-color: var(--object);
    color: var(--object_p_color);
}

.div_panel_filters_objects > div > div > input::-webkit-inner-spin-button {
    display: none;
}

.div_panel_filters_objects > div > .div_checkbox {
    display: grid;
    align-content: center;
    grid-template-columns: 20px auto 20px auto 20px auto;
}

.div_panel_filters_objects > div > .div_checkbox > input {
    width: 18px;
    height: 18px;
    position: relative;
    top: 5px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 5px;
    background: var(--object);
    color: var(--object_p_color);
}

.div_panel_filters::-webkit-scrollbar {
    width: 5px;
    background-color: var(--background);
}

.div_panel_filters::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: var(--background);
}

.div_panel_filters::-webkit-scrollbar-thumb {
    transition: background 0.5s;
    background: var(--second);
    height: 70px;
    border-radius: 5px;
}

.div_panel_filters::-webkit-scrollbar-thumb:hover {
    height: 70px;
    background: var(--object_p_color);
}

.div_filters_search {
    transition: border-radius 0.5s, background 0.5s, color 0.5s;
    font-size: 16px;
    padding: 5px 30px;
    align-self: center;
    margin: 20px auto;
    border: 3px solid var(--second);
    border-radius: 50px 0;
    background: var(--second);
    color: var(--panels);
    outline: none;
    font-weight: bold;
    width: 90%;
}

.div_filters_search:hover {
    border-radius: 0 50px;
    background: var(--background);
    color: var(--second);
}

.div_filters_search:active {
    transition: 0s;
    background: var(--panels);
    color: var(--object_p_color);
}

.div_filters_search:focus {
    border-radius: 0 50px;
    background: var(--panels);
    color: var(--object_p_color);
}

.btn_add_detail {
    width: 80%;
    margin: auto;
    transition: color 0.5s, background 0.5s;
    justify-self: center;
    padding: 5px 20px;
    border-radius: 10px;
    background: var(--object);
    border: none;
    box-shadow: 2px 2px 10px var(--box_shadow);
    color: var(--object_p_color);
    font-size: 16px;
    font-weight: bold;
    outline: none;
}

.btn_add_detail:hover {
    background: var(--second);
    color: var(--background);
}

.btn_add_detail:focus {
    background: var(--second);
    color: var(--background);
}

.filters_detail {
    margin-top: 10px !important;
    padding-right: 10px !important;
}

.filters_detail > input {
    padding: 1px 5px;
    outline: none;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    height: 20px;
    background-color: var(--object);
    color: var(--object_p_color);
}

.filters_detail > input::-webkit-inner-spin-button {
    display: none;
}

.filters_detail > button {
    transition: color 0.5s;
    margin-left: 5px;
    border-radius: 10px;
    padding: 0 5px;
    border: none;
    font-size: 16px;
    background: none;
    color: var(--object_p_color);
    outline: none;
}

.filters_detail > button:hover {
    color: var(--second);
}

.filters_detail > button:focus {
    color: var(--second);
}