.window_statistics {
  transition: none;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "map stat"
    ". stat";
  background: var(--background);
}

.map_container {
  grid-area: map;
  overflow: scroll;
  display: grid;
  grid-template-areas: "I";
}

.map_container>* {
  grid-area: I;
}

.map_container::-webkit-scrollbar {
  height: 5px;
  background-color: var(--background);
}

.map_container::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--background);
}

.map_container::-webkit-scrollbar-thumb {
  transition: background 0.5s;
  background: var(--second);
  height: 70px;
  border-radius: 5px;
}

.map_container::-webkit-scrollbar-thumb:hover {
  height: 70px;
  background: var(--object_p_color);
}

.statistics {
  grid-area: stat;
  padding: 10px;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto;
  box-shadow: inset 0 0 10px black;
}

.statistics>p {
  color: var(--first);
  background: var(--object);
  border-radius: 10px;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.statistics>hr {
  margin: auto;
  width: 30%;
  border-radius: 10px;
  border: 1px solid var(--second);
  background: var(--second);
}

.statistics>div>.title {
  color: var(--first);
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 20px;
}

.statistics>div>.detail {
  color: var(--object_p_color);
  padding: 3px;
  font-size: 16px;
}

.statistics>div>.detail>b {
  color: var(--object_p_color);
  padding: 3px;
  font-size: 16px;
}

.statistics>div>.cityName {
  color: var(--first);
  border-radius: 10px;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 20px;
}

.statistics>div {
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
  box-shadow: 2px 2px 5px black;
  background: var(--object);
  color: var(--object_p_color);
  font-size: 16px;
}

.exit_statistics {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-areas: "I";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid var(--first);
  position: absolute;
  top: 10px;
  left: 10px;
  background: var(--background);
}

.exit_statistics>* {
  grid-area: I;
}

.exit_statistics:hover:last-child {
  transform: rotate(-180deg);
}

.statistics_svg>g:hover>path {
  stroke: var(--statistics_path_hover);
  stroke-width: 30px;
}

.statistics_svg>g:active>path {
  transition: 0.1s;
  fill: var(--statistics_path_hover);
}

.statistics_svg>text {
  text-shadow: 0 0 2px black;
  stroke: black;
  stroke-width: 3px;
  paint-order: stroke;
  fill: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.statistics_svg>text>tspan {
  stroke-width: 2px;
  font-weight: normal;
  text-align: center;
}

.map_container_color_grad {
  display: grid;
  justify-content: flex-end;
  align-content: flex-start;
}

.map_container_color_grad>div {
  position: sticky;
  right: 10px;
  top: 20px;
  background: var(--object);
  /*margin: 20px 10px 10px;*/
  padding: 10px;
  border-radius: 10px;
  display: grid;
  justify-content: space-between;
  align-content: space-between;
  grid-gap: 3px;
  grid-template-areas:
    "low . hight"
    "grad grad grad";
  grid-template-columns: auto 50px auto;
  box-shadow: 2px 2px 5px black;
}

.map_container_color_grad>div>div {
  width: auto;
  height: 3px;
  background: linear-gradient(90deg, rgb(237, 143, 3), rgb(192, 36, 37));
  border-radius: 10px;
  margin-top: 5px;
}

.map_container_color_grad>div>p {
  color: var(--object_p_color);
  font-weight: bold;
}

#map_statistics_info_box {
  transition: 0s;
}

#map_container_districts{
  display: grid;
  grid-template-areas: "I";
}

#map_container_districts>*{
  grid-area: I;
}